@font-face {
    font-family: 'Pixellari';
    src: url("../resources/fonts/Pixellari.ttf") format(truetype);
}

.aboutus-page{
    background-image: url('../resources/gifs/about.gif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: flex-start;
    display: flex;
    position: relative; /* Cambiar a relative */
    width: 100%;
    height: 100vh; /* Usar 100vh para ocupar toda la pantalla */
    z-index: -1;
    justify-content: center;
    align-items: center;
    flex-direction: column;  /* Aseguramos que el contenido se apile correctamente */
    justify-content: flex-start;
    padding-top: 5%;
}
.my-5 {
    margin-top: 0 !important;
}

.text-center {
    margin-top: 0;
    padding: 0;
    font-size: xx-large;
    font-family: Pixellari;
    color: #ffffff;
    text-shadow: 
    -2px -2px 0 black,
    2px -2px 0 black,
    -2px  2px 0 black,
    2px  2px 0 black,
   -2px  0px 0 black,
    2px  0px 0 black,
    0px -2px 0 black,
    0px  2px 0 black;
}

  
.card {
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    overflow: hidden;
    transition: transform 0.3s ease;
    margin-bottom: 20px;
}
  
.card:hover {
    transform: translateY(-8px);
}
  
.card-img-top {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    height: 500px;
    object-fit: cover;
}
  
.card-body {
    margin: 0px;  /* Espaciado exterior */
    font-family: Pixellari;
    padding: 10px;
    text-align: center;
}
  
.card-title {
    font-family: Pixellari;
    font-size: 1.25rem;
    color: #555;
}
  
.card-text {
    font-family: Pixellari;
    font-size: 1rem;
    color: #777;
    margin-bottom: 1rem;
}
  
.card-text a {
    font-family: Pixellari;
    color: rgb(122, 75, 209);
    text-decoration: none;
}
  
.card-text a:hover {
    text-decoration: underline;
}

@media (max-width: 1024px) {
    .card {
        width: 90%;
    }
}

@media (max-width: 768px) {
    .card {
        width: 90%;
    }

    .text-center {
        font-size: large;
        font-size: 1.5rem;  /* Ajustar tamaño del texto */
        margin-top: 0;
    }

    .aboutus-page {
        padding-top: 3%;  /* Ajuste para pantallas pequeñas */
    }
}

@media (max-width: 480px) {
    .card {
        width: 100%;
    }

    .text-center {
        font-size: medium;
    }
}