@font-face {
  font-family: 'Pangolin';
  src: url('../resources/fonts/Pangolin.ttf') format('truetype');
}

.main-content {
  font-family: Pangolin;
  margin: 0px 0px 0px 100px;
  font-size: 20px;
  padding: 0px;
  transition: margin-left 400ms ease;
}

.sidebar:hover + .main-content {
  margin-left: 300px;
}