
body {
    background-color: #fff;
}
  
#titulo{
    font-weight: bold;
    padding: 50px;

}



footer {
    margin-top: 200px;
    font-weight: bold;

}

.form-container {
    background: hsl(200, 40%, 75%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-top: 0.5rem solid hsl(200, 80%, 30%);
    border-radius: 10px;
    max-width: 600px;
    width: 100%;
    margin: auto;
}
  

label {
    color: black;
    font-weight: bold;
    font-size: 1.1rem;
}
  

input.form-control {
    border-radius: 5px;
    border: 5px solid hsl(200, 80%, 40%);
    background-color: #fff;
}
  
button.btn {
    font-size: rem;
    padding: 10px;
}
  
#resultado{
    font-weight: bold;
    font-size: 1.1rem;
}
.cuerpo{
    background:linear-gradient(hsl(200, 30%, 85%),hsl(200, 80%, 25%));
}

.foot{
    margin-bottom: 10vh;
    color:#fff;
    font-style: italic;
    font-weight: 300;
}